<!--<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>

  <div class="container">
    <h2><%= product ? 'Editar Producto' : 'Cargar Nuevo Producto' %></h2>

    <form action="#" method="POST" enctype="multipart/form-data">
     
      <label for="name">Nombre del Producto:</label>
      <input type="text" id="name" name="name" value="#" required>

      
      <label for="description">Descripción:</label>
      <textarea id="description" name="description" required><%= product ? product.description : '' %></textarea>

      
      <label for="image">Imagen:</label>
      <input type="file" id="image" name="image" accept="image/*">
      <% if (product && Camanchaca.jpg) { %>
        <img src="/public/images/Camanchaca.jpg %>" alt="Imagen actual" width="100"> ---- todavía no tengo las imgs - AÑADIR!
      <% } %>

      
      <label for="category">Categoría:</label>
      <select id="category" name="category" required>
        <option value="agenda" <%= product && product.category === 'agenda' ? 'selected' : '' %>>Agenda</option>
        <option value="accesorios" <%= product && product.category === 'accesorios' ? 'selected' : '' %>>Accesorios</option>
      </select>

      
      <label for="colors">Colores (separados por comas):</label>
      <input type="text" id="colors" name="colors" value="<%= product ? product.colors.join(', ') : '' %>">

      
      <label for="price">Precio:</label>
      <input type="number" id="price" name="price" value="<%= product ? product.price : '' %>" required>

      <button type="submit"><%= product ? 'Actualizar Producto' : 'Crear Producto' %></button>
    </form>
  </div>

  <%- include('../partials/footer') %>
</body>
</html> 
-->
